<nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed fixed-top">
  <a class="navbar-brand" routerLink="/dashboard">Thuis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="/tasks">Taken </a>
      </li>
    </ul>

    <ul class="navbar-nav">
        <!-- Wanneer de knop wordt ingedrukt wordt de gebruiker doorgestuurd naar het login scherm voor de bewoners -->
        <li class="nav-item">
          <button routerLink="/loginresident" class="btn btn-2 btn-2a">
            <span *ngIf="!this.residentService.residentLoggedIn">Bewoners</span>
            <span *ngIf="this.residentService.residentLoggedIn">{{this.residentService.loggedInResident.name}}</span>
          </button>
        </li>
    </ul>

    &nbsp;&nbsp;&nbsp;&nbsp;

    <ul class="navbar-nav">
      <!-- Wanneer de verzorger ingelogd is wordt zij doorgestuurd naar het verzorgerdashboard -->
      <div *ngIf="statusService.loggedInStatus; else loginEmployee">
        <li class="nav-item">
          <button routerLink="/admin" class="btn btn-1 btn-1a">
            <span>Ingelogd:</span>
            <span *ngIf="this.employeeService.loggedInEmployee!=null">{{this.employeeService.loggedInEmployee.name}}</span>
          </button>
        </li>
      </div>
      <!-- Wanneer de verzorger niet ingelogd is wordt zij doorgestuurd naar het verszorgerloginscherm -->
      <ng-template #loginEmployee>
        <li class="nav-item">
          <button routerLink="/login" class="btn btn-1 btn-1a">
            <span>Verzorger</span>
          </button>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
