<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Zoeken.." aria-label="Search"
         #searchBox id="search-box" (keyup)="search(searchBox.value)">

  <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"
          (click)="search(searchBox.value)">
      Zoek
  </button>
</form>


<ul class="search-result">
  <li *ngFor="let task of tasks$ | async" >
    <a routerLink="/current/{{task.id}}">
      {{task.name}}
    </a>
  </li>
</ul>
