
<ul class="list-group tasks">

  <!--
    for: all the tasks -> tasks: Task[];
    set selected listener on the task
    set click to onSelect method, with the clicked task
  -->
  <li *ngFor="let task of tasks" class ="list-group-item" (click)="setTask(this.task)">


      <!-- badge display for the tasks -->
      <span class="badge">{{task.id}}</span> {{task.name}}

  </li>

</ul>


  <hr>
  <hr>

  <span>id: </span>{{task.id}} <br>

  <label>name:
    <input [(ngModel)]="task.name" placeholder="name"/>
  </label> <br>
  <label>imgLink:
    <input [(ngModel)]="task.imgLink" placeholder="imgLink"/>
  </label> <br>
  <label> mainDescription:
    <input [(ngModel)]="task.mainDescription" placeholder="mainDescription"/>
  </label> <br>
  <label> steps:
    <input [(ngModel)]="task.steps" placeholder="steps"/><br>
  </label> <br>

  <button class="btn btn-success btn-sm" (click)="save()">save</button>
  <button class="delete btn btn-danger btn-sm" title="delete task"(click)="delete(task)">delete</button>
