<!--
   Markup for the current task component
-->


<div class="container" *ngIf="task"><!-- link to the current-task.component.ts object -->

  <div class="row">
    <div class="col-12 align-center">
      <h2>{{ task.name | uppercase }}</h2><br>



            <mat-horizontal-stepper>
              <mat-step label="Step 1">


                <div class="container-fluid step-container">
                  <div class="row step-row">
                    <div class="col-md-2 back arrow d-none d-sm-none d-md-block">
                      <button mat-button matStepperPrevious>
                        <img src="../../../assets/images/icons/ic_back.png" height="144" width="144"/>
                      </button>
                    </div>

                    <div class="col-md-8">
                      <img  src="./../assets/images{{task.imgLink}}" width="100%" height="auto"><br><br>

                      <h3>{{ task.mainDescription }}</h3>
                    </div>

                    <div class="col-md-2 forward arrow">
                      <button mat-button matStepperPrevious>
                        <img src="../../../assets/images/icons/ic_back.png" height="144" width="144" class="d-sm-block d-md-none"/>
                      </button>
                      <button mat-button matStepperNext>
                        <img src="../../../assets/images/icons/ic_forw.png" height="144" width="144"/>
                      </button>
                    </div>
                  </div>
                </div>


              </mat-step>
              <mat-step label="Step 2">


                <div class="container-fluid step-container">
                  <div class="row step-row">
                    <div class="col-md-2 back arrow d-none d-sm-none d-md-block">
                      <button mat-button matStepperPrevious>
                        <img src="../../../assets/images/icons/ic_back.png" height="144" width="144"/>
                      </button>
                    </div>

                    <div class="col-md-8">
                      <img  src="./../assets/images/tasks/step2.jpg" width="100%" height="auto"><br><br>

                      <h3>{{ task.mainDescription }}</h3>
                    </div>

                    <div class="col-md-2 forward arrow">
                      <button mat-button matStepperPrevious>
                        <img src="../../../assets/images/icons/ic_back.png" height="144" width="144" class="d-sm-block d-md-none"/>
                      </button>
                      <button mat-button matStepperNext>
                        <img src="../../../assets/images/icons/ic_forw.png" height="144" width="144"/>
                      </button>
                    </div>
                  </div>
                </div>


              </mat-step>
              <mat-step label="Step 3">


                <div class="container-fluid step-container">
                  <div class="row step-row">
                    <div class="col-md-2 back arrow d-none d-sm-none d-md-block">
                      <button mat-button matStepperPrevious>
                        <img src="../../../assets/images/icons/ic_back.png" height="144" width="144"/>
                      </button>
                    </div>

                    <div class="col-md-8">
                      <img  src="./../assets/images/tasks/step3.png" width="100%" height="auto"><br><br>

                      <h3>{{ task.mainDescription }}</h3>
                    </div>

                    <div class="col-md-2 forward arrow">
                      <button mat-button matStepperPrevious>
                        <img src="../../../assets/images/icons/ic_back.png" height="144" width="144" class="d-sm-block d-md-none"/>
                      </button>
                      <button mat-button matStepperNext>
                        <img src="../../../assets/images/icons/ic_forw.png" height="144" width="144"/>
                      </button>
                    </div>
                  </div>
                </div>
              </mat-step>



            </mat-horizontal-stepper>



    </div>

    <div class="col-12">
      <hr class="space">
    </div>





    <div class="col-3">
      <button class="btn btn-secondary btn-sm" (click)="goBack()">go back</button>
    </div>




  </div>
</div>
