/**
 * Current task's private CSS styles
 */

.align-center {
  align-content: center;
  text-align: center;
}

hr.space {
  margin: 4px 200px;
}

div.mat-step-icon {
  display: none;
}

.task-container .task-content .arrow {
  margin: auto 0;
}

button.control {
  margin-top: 50px;
}

/* Step Content */
/* image */

.imgContainer {
  height: 40vh;
  overflow: hidden;
  margin-bottom: 10px;
  vertical-align: top;
}

.stepImg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* description/text */

.textContainer {
  height: 20vh;
}
