<!--
   Markup for the current task component
-->

<div class="container" *ngIf="task">

  <!-- link to the current-task.component.ts object -->
  <div class="col-md-12 align-center">
    <h2>{{ task.name | uppercase }}</h2>
    <br>
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-2 back arrow">
          <button (click)="goStepBack(stepper)" class="arrowButton">
            <img src="../../../assets/icons/ic_back.png" width="100%" height="100%" />
            <p class="text-indicator">Terug</p>
          </button>
        </div>

        <div class="col-md-8">
          <mat-horizontal-stepper #stepper [linear]="true">

            <ng-template matStepperIcon="edit">
              <div class="doneCircle"><mat-icon>done</mat-icon></div>
            </ng-template>

            <mat-step label="Introductie" [completed]="false" [editable]="true">
              <div class="container-fluid step-container">
                <div class="row step-row">
                  <div class="imgContainer">
                    <img class="stepImg" src="./../assets/images{{task.imgLink}}" width="100%" height="auto">
                    <br>
                    <br>
                  </div>

                  <div class="textContainer">
                    <h3>{{ task.mainDescription }}</h3>
                  </div>
                </div>
              </div>
            </mat-step>

            <div class="steps" *ngFor="let step of steps">

              <mat-step label="Stap" [completed]="false" [editable]="true">

                <div class="container-fluid step-container">
                  <div class="row step-row">
                    <div *ngIf="!step.hasTimer" class="imgContainer">
                      <img class="stepImg" src="./../assets/images{{step.stepImgLink}}" width="100%" height="auto">
                      <br>
                      <br>
                    </div>

                    <div *ngIf="step.hasTimer" class="timer">
                      <svg width="250" height="250" viewbox="0 0 250 250">
                        <path id="timer-border" transform="translate(125, 125)"/>
                        <path id="timer-loader" transform="translate(125, 125) scale(.84)"/>
                        <path id="timer-background-border" transform="translate(125, 125)"/>
                        <path id="timer-background-loader" transform="translate(125, 125) scale(.84)"/>
                      </svg>
                      <h3 id="timer-text"></h3>
                      <br>
                      <br>
                    </div>

                    <div class="textContainer">
                      <h3>{{ step.stepDescription }}</h3>
                    </div>
                  </div>
                </div>

              </mat-step>

            </div>


            <!-- Finished task step -->
            <mat-step label="Einde" [completed]="false" [editable]="true">

            <div class="container-fluid step-container">
              <div class="row step-row">
                <div class="imgContainer">
                  <img class="stepImg" src="./../assets/images/done.jpg" width="100%" height="auto">
                  <br>
                  <br>
                </div>

                <div class="textContainer">
                  <h3>Deze taak is succesvol afgerond!</h3>
                </div>
              </div>
            </div>

            </mat-step>



          </mat-horizontal-stepper>
        </div>

        <div class="col-md-2 forward arrow">
          <button (click)="goStepForward(stepper)" class="arrowButton">
            <img src="../../../assets/icons/ic_forw.png" width="100%" height="100%" />
            <p class="text-indicator">Volgende</p>
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <hr class="space">
    </div>


