.btn {
  border: none;
  font-family: source sans pro;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  text-transform: none;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-1 {
  border: 1.5px solid #795094;
  color: #795094;
}

.btn-1a:hover,
.btn-1a:active {
  color: white;
  background: #795094;
}

.btn-2 {
  border: 1.5px solid #795094;
  color: #795094;
}

.btn-2a:hover,
.btn-2a:active {
  color: white;
  background: #795094;
}

.navbar {
  padding: 0.5rem 2rem !important;
}
