    /* Knop */

    .btn {
      border: none;
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background: none;
      cursor: pointer;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
      outline: none;
      position: relative;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }

    .btn:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }

    /* Bewerk knop */

    .btn-1c:after {
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      background: #795094;
    }

    .purple {
      border: 1px solid #795094;
      color: #795094;
    }

    .purple::after {
      background: #795094;
    }

    .blue {
      border: 1px solid #007bff;
      color: white;
      background: #007bff;
    }

    .blue::after {
      color: #007bff;
    }

    .btn-1c:hover:after,
    .btn-1c:active:after {
      width: 100%;
    }

    .task-description {
      font-weight: 400;
    }

    .task-name {
      font-weight: 700;
    }

    .list-group-item:first-child {
      border-top-left-radius: 0%;
      border-top-right-radius: 0%;
    }

    div.col-md-9 {
      padding-left: 0px;
    }

    .row {
      background-color: #ebebeb;
    }

    /* Sidebar Title */

    .sideTitle {
      color: black;
      text-transform: uppercase;
      font-weight: 700;
    }

    a {
      font-size: 1em;
      color: rgba(0, 0, 0, .8)
    }
