<div>
  <label>Task name:
    <input #taskName />
  </label>

  <br>

  <label>Task img:
    <input #taskImgLink />
  </label>

  <br>

  <label>Task desc:
    <input #mainDesc />
  </label>

  <br>


  <br>

  <div class="step-container container-fluid">
    <mat-tab-group>

      <div *ngFor="let step of stepsCreated">


        <mat-tab>
          <ng-template mat-tab-label>
            <div class="mat-tab-header-labels">
              <a class="left arrow" (click)="up(step)" *ngIf="stepsCreated.indexOf(step) != 0">
                <img src="../../../assets/icons/arrows/left.svg" alt="up">
              </a>
              Stap {{step.id}}
              <a class="right arrow" (click)="down(step)" *ngIf="stepsCreated.indexOf(step) != stepsCreated.length - 1">
                <img src="../../../assets/icons/arrows/right.svg" alt="down">
              </a>
            </div>
          </ng-template>


          <div class="addStep-body">
            <h3>Stap {{step.id}}</h3>

            <div class="separator-vertical"></div>

            Beschrijving <br>
            <input [(ngModel)]="step.stepDescription" #stepDesc /> <br>


            Afbeelding <br>
            <input [(ngModel)]="step.stepImgLink" #stepImg /> <br>

            <br><br>

            <input type='file' id="stepImgInput"/>

            <img id="blah" src="http://placehold.it/180" alt="image" />




            <br><br>
            <button (click)="removeStep(step.id - 1)">remove</button>
          </div>
        </mat-tab>
      </div>

      <mat-tab label="Voeg stap toe">
        <div class="addStep-body">
          <button (click)="addStep()"> Voeg stap toe </button>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>

  <div class="separator-vertical"></div>

  <hr>

<!-- taskName.value = '', taskImgLink.value = '', mainDesc.value = '', steps.value = '' -->
<button (click)="add(taskName.value, taskImgLink.value, mainDesc.value)">
  add
</button>
</div>



