
<div class="container">
  <div class="col-md-12">
<div *ngIf="status.loggedInStatus">

  <div class="row">
    <div class="col-md-6">
      <h3>Een extra stappenplan (/taak) toevoegen.</h3>


      <div class="padding">
        <mat-form-field>
          <input matInput #taskName placeholder="Naam van de takenlijst" [formControl]="nameValidation" required>
          <mat-error *ngIf="nameValidation.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>


      <br>

      <div class="padding">
        <mat-form-field>
          <textarea matInput #mainDesc class="mainDesc"
                    placeholder="Beschrijving van de taak">{{mainDescription}}</textarea>
        </mat-form-field>
      </div>

      <br>


      <div class="padding task-times" *ngFor="let time of taskTimes">
        <mat-form-field>
          <input matInput #startTime class="startTime" type="time" [formControl]="timeValidation" required
                    placeholder="Voer de begin tijd in" value="{{time.startTime}}">


          <mat-error *ngIf="timeValidation.invalid">{{getErrorMessageTime()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput #endTime class="endTime" type="time" [formControl]="timeValidation" required
                 placeholder="Voer de eind tijd in" value="{{time.endTime}}">


          <mat-error *ngIf="timeValidation.invalid">{{getErrorMessageTime()}}</mat-error>
        </mat-form-field>
        <button *ngIf="taskTimes.length>1" mat-raised-button color="warn" (click)="removeTime(time)">
          -  verwijder deze tijd
        </button>
      </div>
      <button mat-raised-button (click)="addTime()">+ Voeg extra tijd toe</button>



      <br>
      <mat-slide-toggle  (change)="showReordering = !showReordering" *ngIf="stepsCreated.length >= 2">
        Verander volgorde stappen
      </mat-slide-toggle>

    </div>

    <div class="col-md-6">


      <img id="blah" src="http://placehold.it/500x300" alt="image" />
      <br><br>
      <input type='file' id="stepImgInput"/>
      &nbsp;
      <div class="padding">
        <mat-form-field>
          <input matInput #taskImgLink placeholder="Hoofd afbeelding link" value="{{imgLink}}">
        </mat-form-field>
      </div>
      <br>
    </div>

  </div>

  <br>

  <div class="step-container container-fluid">
    <mat-tab-group>

      <div *ngFor="let step of stepsCreated">


        <mat-tab class="tab-step">
          <ng-template mat-tab-label>
            <div class="mat-tab-header-labels">
              <a class="left arrow" (click)="up(step)" matTooltipPosition="below" matTooltip="Een positie terug"
                 *ngIf="stepsCreated.indexOf(step) != 0 && showReordering">
                <img src="../../../assets/icons/arrows/left.svg" alt="up">
              </a>
              Stap {{step.id}}
              <a class="right arrow" (click)="down(step)" matTooltipPosition="below" matTooltip="Een positie verder"
                 *ngIf="stepsCreated.indexOf(step) != stepsCreated.length - 1 && showReordering">
                <img src="../../../assets/icons/arrows/right.svg" alt="down">
              </a>
            </div>
          </ng-template>




          <div class="addStep-body">

            <div class="row">

              <div class="col-md-5">
              <h3>Stap {{step.id}}</h3>

              <div class="separator-vertical"></div>

              <mat-form-field>
                <input matInput [(ngModel)]="step.stepDescription" #stepDesc placeholder="Stap beschrijving">
              </mat-form-field>

              <br>

              <mat-form-field>
                <input matInput [(ngModel)]="step.stepImgLink" #stepImg placeholder="Stap Afbeelding">
              </mat-form-field>

              <br><br>
              </div>
              <div class="col-md-7">
                <img id="blah" src="http://placehold.it/400x250" alt="image" />
                <br><br>
                <input type='file' id="stepImgInput"/>
              </div>




            </div>

            <br><br>
            <button (click)="removeStep(step.id - 1)" mat-raised-button color="warn">Verwijder deze stap</button>
          </div>





        </mat-tab>
      </div>

      <mat-tab label="Voeg stap toe" class="tab-step">
        <div class="addStep-body">
          <h3>Let op:</h3> <br>
          <p>Er zijn in totaal al {{stepsCreated.length}} stappen aangemaakt.</p>
          <p>{{addStepMessage}}</p>
          <br>
          <button mat-raised-button class="btn btn-success btn-md"(click)="addStep()"> Voeg stap toe </button>
          <br>

        </div>
      </mat-tab>

    </mat-tab-group>
  </div>

  <div class="separator-vertical"></div>

  <hr>

  <!-- taskName.value = '', taskImgLink.value = '', mainDesc.value = '', steps.value = '' -->
  <button mat-raised-button color="primary" (click)="add(taskName.value, taskImgLink.value, mainDesc.value)">
    Deze taak toevoegen
  </button>

</div>
<div *ngIf="!status.loggedInStatus">
  <app-login></app-login>
</div>
</div>
</div>



<div *ngIf="editTask != null">
  <button class="btn btn-success btn-sm" (click)="save()">save</button>
  <button class="delete btn btn-danger btn-sm" routerLink="/admin" title="delete task" (click)="delete(editTask)">delete</button>
  <button class="btn btn-info btn-sm" (click)="close()" routerLink="/admin"> close </button>
</div>
