/**
 * Messages private CSS styles
 */
h2 {
  color: #888;
  font-weight: lighter;
}
body {
  margin: 10px;
}
body, input[text], button {
  color: crimson;
}

button.clear {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
button.clear {
  color: #888;
  margin-bottom: 15px;
}
