<!--
  Application main index.html
  From here are all the main components connected/ called.
-->
<header>
  <app-top-nav></app-top-nav>

  <!--
  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
  </div>
  -->
</header>


<div class="container">
  <div class="row">
    <!-- task component -->
    <!--<app-tasks></app-tasks>-->

    <!--
      router module outlet
      so the current displaying content can be dynamic
    -->
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>


    <!-- messages component -->
    <div class="col-md-2">
      <app-messages></app-messages>
    </div>
  </div>
</div>
