<!--
  Application main index.html
  From here are all the main components connected/ called.
-->
<header>
  <!-- top navigation component -->
  <app-top-nav></app-top-nav>
</header>


<div class="container">
  <div class="row">

    <!--
      router module outlet
      so the current displaying content can be dynamic
    -->
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>


    <!-- messages side bar -->
    <!--<div class="col-md-2">-->
      <!--<app-messages></app-messages>-->
    <!--</div>-->

  </div>
</div>
