
<div class="container">
  <div class="row">


    <div class="col-md-3">
      <h3>{{resident.name}} {{resident.surname}}</h3>
      <h4 style="float:right;">
        <b>{{resident.id}}</b>
      </h4>
      <p style="font-size: 15px; line-height: 18px;">
        {{resident.bio}}
      </p>



      <br>


      <img src="./../assets/images{{resident.imgPath}}" class="resident-image">
    </div>


    <div class="col-md-9">

      <mat-slide-toggle  (change)="editable = !editable" class="edit-toggle">
        Pas taken aan
      </mat-slide-toggle>


      <mat-tab-group [selectedIndex]="tabsIndex" #tabsActivity >


        <mat-tab label="Activiteiten" (click)="setTabIndex(0); clearInfoActivity();" [disabled]="infoDisplay">
          <mat-list>
            <h3 mat-subheader>Today</h3> <h3 class="done-label">Voltooid</h3>

            <mat-selection-list>
              <div *ngFor="let todayTask of resident.activities" >

                <mat-list-option *ngIf="isToday(todayTask.date) && isCompleted(todayTask)"
                                 selected="true" disabled="{{editable}}">
                  <mat-icon mat-list-icon>folder</mat-icon>
                  <h4 mat-line>{{todayTask.name}}</h4>
                  <span class="activity-id">{{todayTask.id}}</span>
                  <p mat-line> {{todayTask.timeStart}} - {{todayTask.timeEnd}} </p>
                  <button mat-button class="info-button" color="primary"
                          (click)="getInfo(todayTask); setTabIndex(1);" *ngIf="editable">Info</button>
                </mat-list-option>

                <mat-list-option *ngIf="isToday(todayTask.date) && !isCompleted(todayTask)"
                                 selected="false" disabled="{{editable}}">
                  <mat-icon mat-list-icon>folder</mat-icon>
                  <h4 mat-line>{{todayTask.name}}</h4>
                  <span class="activity-id">{{todayTask.id}}</span>
                  <p mat-line> {{todayTask.timeStart}} - {{todayTask.timeEnd}} </p>
                  <button mat-button class="info-button" color="primary"
                          (click)="getInfo(todayTask); setTabIndex(1);" *ngIf="editable">Info</button>
                </mat-list-option>

              </div>
            </mat-selection-list>




            <mat-divider></mat-divider>
            <h3 mat-subheader>Todo</h3> <h3 class="done-label">Voltooid</h3>


            <mat-selection-list #todoTasks (selectionChange)="checkChanges()">
              <div *ngFor="let todoTask of resident.activities; let indexTodo = index" >
                <mat-list-option *ngIf="!todoTask.completed" disabled="{{editable}}">
                  <h4 mat-line>{{todoTask.name}}</h4>
                  <span class="activity-id">{{todoTask.id}}</span>
                  <p mat-line> {{todoTask.timeStart}} - {{todoTask.timeEnd}} </p>
                  <button mat-button class="info-button" color="primary"  *ngIf="editable"
                          (click)="getInfo(todoTask); setTabIndex(1);">Info</button>

                </mat-list-option>
              </div>
            </mat-selection-list>




            <mat-divider></mat-divider>
            <h3 mat-subheader>Done</h3> <h3 class="done-label">Voltooid</h3>

            <mat-selection-list #doneTasks class="scrolable">
              <div *ngFor="let doneTask of resident.activities">
                <mat-list-option *ngIf="isCompleted(doneTask)" selected="true" disabled="{{editable}}">
                  <h4 mat-line>{{doneTask.name}}</h4>
                  <span class="activity-id">{{doneTask.id}}</span>
                  <p mat-line> {{doneTask.completedTime}} min. bezig geweest</p>
                  <button mat-button class="info-button" color="primary"
                          (click)="getInfo(doneTask); setTabIndex(1);" *ngIf="editable">Info</button>
                </mat-list-option>
              </div>
            </mat-selection-list>

          </mat-list>
        </mat-tab>




        <mat-tab label="Meer informatie" (click)="setTabIndex(1)" [disabled]="!infoDisplay">
          <button mat-raised-button color="warn" (click)="clearInfoActivity(); setTabIndex(0)">Sluit extra informatie</button>
          <button mat-raised-button color="primary" style="margin:25px;"
                  (click)="reload()">reload</button>
          <div *ngIf="infoActiv != null">

            <h3>{{infoActiv.name}}</h3> <i>{{infoActiv.taskId}}</i><br>
            {{infoActiv.date}} <br>
            {{infoActiv.completedTime }} minuten <br>
            Gestart op: {{infoActiv.timeStarted}} <br>
            Gestopt op: {{infoActiv.timeEnded}} <br>

            <br>
            <br>

            Ingepland tussen: <br>
            {{infoActiv.timeStart}} - {{infoActiv.timeEnded}} <br>

            <br>

            Voltooid:
            <input type="checkbox" *ngIf="infoActiv.completed" checked>
            <input type="checkbox" *ngIf="!infoActiv.completed">


          </div>
        </mat-tab>





        <mat-tab label="Statistieken" (click)="setTabIndex(2)" [disabled]="infoDisplay">
          Totaal aantal activiteiten: {{resident.activities.length}}

          <br>

          Voltooide taken: {{doneTasks.selectedOptions.selected.length}}


          <br>



          <canvas id="chartJSContainer" width="600" height="400"></canvas>


        </mat-tab>
      </mat-tab-group>






    </div>


  </div>
</div>

<script src="./../assets/js/chart.js" type="text/javascript"></script>
<script>

  var options = {
    type: 'line',
    data: {
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      datasets: [
        {
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        },
        {
          label: '# of Points',
          data: [7, 11, 5, 8, 3, 7],
          borderWidth: 1
        }
      ]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            reverse: false
          }
        }]
      }
    }
  }

  var ctx = document.getElementById('chartJSContainer').getContext('2d');
  new Chart(ctx, options);

</script>
