<div class="login-bg">
  <br>
  <br>
  <br>
  <div class="col-md-4" style="width: auto;">

    <div style="background-color: white; width: 100%; position: relative;">
      <div style="max-width: 250px; display: inline-block; margin: 25px 25px 25px 25px">


        <label>Gebruikersnaam:
          <input #username type="text" class="input" placeholder="gebruikersnaam..." />
        </label>




            .st1 {
              fill: #F08A00;
            }

        <label>Wachtwoord:
          <input #password type="password"  class="input second" placeholder="wachtwoord..." />
        </label>

        <button class="btn btn-outline-primary btn-sm right" (click)="login(username.value, password.value)">
          login
        </button>






















      </div>
    </div>

  </div>

  <br>
  <br>

  <div *ngIf="this.actualLoginStatus">
    <h1>Welcome back</h1>

    <a routerLink="/admin">Dasboard</a>
    <br>
    <a routerLink="/admin/add-task">Add task</a>
    <br>
    <a routerLink="/admin/edit-task">Edit task</a>
    <br>
    <!--<a (click)="top-nav.logout()">Log out</a>-->
  </div>
</div>
