<div class="container-fluid" >
  <div class="row">
    <div class="col-md-3" *ngIf="loginStatusActual">

      <app-admin-sidebar></app-admin-sidebar>

    </div>


    <div class="col-md-9">
      <div class="container-admin-content" *ngIf="loginStatusActual">
        <h3>container for admin dashboard content</h3>


        <ul class="list-group tasks">

          <!--
            for: all the tasks -> tasks: Task[];
            set selected listener on the task
            set click to onSelect method, with the clicked task
          -->
          <li *ngFor="let task of tasks" class ="list-group-item">


            <!-- badge display for the tasks -->
            <span class="badge">{{task.id}}</span> {{task.name}}

            <button class="btn btn-sm float-right"  (click)="editTask(this.task)" routerLink="/admin/edit-task"> Edit </button>

          </li>

        </ul>

        <app-edit-task></app-edit-task>

      </div>

      <div *ngIf="!loginStatusActual">
        <p>No admin/ employee account logged in.</p>
      </div>

    </div>
  </div>
</div>

