
<div class="container-fluid">
  <div class="row" style="height:90vh">
    <div class="col-md-3 sidebar" *ngIf="loginStatusActual">

      <app-admin-sidebar></app-admin-sidebar>

    </div>


    <div class="col-md-9" style="padding-right: 0px;">
      <div class="container-admin-content" style="overflow-y: scroll; height:100%;" *ngIf="loginStatusActual">
        <!-- TODO this will be changed to a more dynamic way of showing the panels -->
        <!-- Example: an new router link, specific for the admin functionality     -->




        <ul class="list-group tasks">
          <li *ngFor="let task of tasks" class="list-group-item">


            <!-- badge display for the tasks -->
            <div class="TaskInfo" style="width: 75%; float: left;">
              <div class="task-name" style="text-transform: capitalize">{{task.name}}</div>
              <div class="task-description">{{task.mainDescription}}</div>
              <div class="tagRow">
                <div class="tag" *ngFor="let taskTime of task.taskTimes">
                  <div class="tagColor"></div>
                  {{taskTime.startTime}} - {{taskTime.endTime}}
                </div>
              </div>
            </div>
            <div class="taskButtons" style="width: 25%; display: inline-block; height: 100%; position: absolute; top: 0px;">
              <button class="btn btn-1 btn-1c purple" (click)="editTask(this.task)" routerLink="/admin/edit-task"> Bewerken </button>
            </div>
          </li>





        </ul>



      </div>

      <div *ngIf="!loginStatusActual">
        <p>U bent niet ingelogd</p>
        <br>
        <br>
      </div>

    </div>
  </div>
</div>

