.panel {
  display: none;
}

.panel.active {
  display: block;
}

/* Knop */

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  transform: translate(0, 75%);
}
.btn-possition{
  position: relative;
  float: right;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.taskButtons {
  width: 25%; display: inline-block; height: 100%; position: absolute; top: 0px;
}

/* Bewerk knop */

.btn-1c:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #795094;
}

.purple {
  border: 1px solid #795094;
  color: #795094;
}

.purple::after {
  background: #795094;
}

.yellow{
  border: 1px solid #ffc725;
  background: #ffd740;
  color: #000;
}
.yellow::after{
  background: #ffd740;
}

.blue {
  border: 1px solid #007bff;
  color: #007bff;
}

.blue::after {
  background: #007bff;
}

.btn-1c:hover,
.btn-1c:active {
  color: white;
}

.yellow.btn-1c:hover {
  background: none;
  color: #000;
  text-decoration: underline;
}

.btn-1c:hover:after,
.btn-1c:active:after {
  width: 100%;
}

.task-description {
  font-weight: 400;
}

.task-name {
  font-weight: 700;
}

.list-group-item:first-child {
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

div.col-md-9 {
  padding-left: 0px;
}

/* Tasks tags */

.tag {
  display: inline;
  color: rgba(0, 0, 0, .87);
  background-color: rgba(0, 0, 0, .08);
  font-size: 0.8rem;
  padding: 2px 5px 2px 10px;
  border-radius: 2px;
  margin-right: 6px;
}

.tagColor {
  width: 8px;
  height: 8px;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(255, 152, 0);
}

.sidebar {
  width: 250px;
  flex: none;
  height: 100%;
}
.fix-pos {
  position: absolute;
  right: 5px;
  top: -10px;
}
.container-admin-content {
  margin-top: 20px;
  height:100%;
}
