.card-block {
  padding: 5px 10px;
}

.center-this {
  text-align: center;
  margin: 100px auto;
}
mat-card.mat-card {
  margin-bottom: 25px;
  border-top: solid 4px #f08a00;
  margin-top: 5px;
  padding: 0;
  padding-bottom: 50px;
}
.card-block {
  padding: 25px 15px;
}
.startBtn {
  background:#27ae60;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  float: right;
  margin-bottom: 25px;
}
.card-img-top {
  border-radius: 0;
}
