<div class="container">

  <div class="col-9" style="margin-top:75px;">
    <!-- component task search -->
    <app-task-search></app-task-search>
  </div>

  <br>
  <h3>Ochtend ritueel</h3>

  <div class="row">
    <div *ngFor="let task of tasks" class="col-md-4">
      <mat-card>
        <!--<div class="card" style="width: 100%;">-->
        <img class="card-img-top" src="./../assets/images{{task.imgLink}}" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{task.name}}</h4>
          <p class="card-text">{{ task.mainDescription }}</p>
          <button routerLink="/current/{{task.id}}" mat-raised-button class="startBtn">start</button>

          {{task.taskTimes[0].startTime}}-{{task.taskTimes[0].endTime}} <br>
         
        </div>
        <!--</div>-->
      </mat-card>
    </div>
  </div>

  <div class="row">



    <div class="col-3 center-this">
      <a routerLink="/tasks/">
        <button class="btn btn-dark">Alle taken</button>
      </a>
    </div>

  </div>

</div>
