/**
 * Global styles, and also import other style files
 */

@import '~bootstrap/dist/css/bootstrap.css';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

*{
  font-family: 'Source Sans Pro', sans-serif;
}

body, head, html {
  margin: 0;
  padding: 0;
}
