<!--
   Markup for the tasks component
-->
<br>
<h2>Alle beschikbare taken</h2>

<div class="container-fluid">

  <div class="row tasks">

    <!--
      for: all the tasks -> tasks: Task[];
      set selected listener on the task
      set click to onSelect method, with the clicked task
    -->
    <div *ngFor="let task of tasks" class="col-md-4">
      <mat-card>



        <mat-card-header>
          <img class="card-img-top-left" src="./../assets/images{{task.imgLink}}?{{random}}" >
          <mat-card-title>{{ task.id }} - {{ task.name }}</mat-card-title>
          <mat-card-subtitle>{{ task.mainDescription | slice:0:25 }}</mat-card-subtitle>
          <br>
          <button routerLink="/current/{{task.id}}" mat-button class="startBtn">start</button>
        </mat-card-header>
        <!--</div>-->
      </mat-card>
    </div>

  </div>

</div>
